/* style for product-page with btns */
@media(min-width: 992px) {
  .btns-block-holder {
    background: #fff;
    padding-top: 10px;
    z-index: 11;
    opacity: 0;
    transition: all 0.3 linear;
  }

  .btns-block-holder .checkout-button {
    margin-bottom: 0;
  }
  .btns-block.fixed .btns-block-holder {
    position: fixed;
    top: 56px;
    right: 30px;
    width: calc(25% - 36px);
    opacity: 1;
    transition: all 0.3 linear;
  }
  .btns-block-holder .c-payment-solutions {
    padding-bottom: 10px;
  }
}
@media(min-width: 1200px) {
  .btns-block.fixed .btns-block-holder {
    top: 58px;
  }
}